
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479118109317'); /* IE9*/
  src: url('iconfont.eot?t=1479118109317#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479118109317') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479118109317') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479118109317#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e608"; }

.icon-weibo:before { content: "\e60c"; }

.icon-location:before { content: "\f023"; }

.icon-carinsure:before { content: "\e699"; }

.icon-myinfo:before { content: "\e698"; }

.icon-zeng:before { content: "\e697"; }

.icon-groupinsure:before { content: "\e603"; }

.icon-finance:before { content: "\e604"; }

.icon-claims:before { content: "\e605"; }

.icon-order:before { content: "\e60b"; }

.icon-back:before { content: "\e606"; }

.icon-share:before { content: "\e607"; }

.icon-eye:before { content: "\e609"; }

.icon-down:before { content: "\e60a"; }

.icon-life:before { content: "\f020"; }

.icon-pen:before { content: "\f7"; }

.icon-arrow-left:before { content: "\f1"; }

.icon-menu:before { content: "\f3"; }

.icon-person:before { content: "\f4"; }

.icon-label:before { content: "\f6"; }

.icon-search:before { content: "\f2"; }

.icon-phone:before { content: "\f8"; }

.icon-tel:before { content: "\f5"; }

.icon-alarm:before { content: "\f9"; }

.icon-document:before { content: "\e600"; }

.icon-tel2:before { content: "\e601"; }

.icon-store:before { content: "\e602"; }

.icon-txt:before { content: "\ef010"; }

.icon-document2:before { content: "\f011"; }

.icon-edit:before { content: "\f012"; }

.icon-arrow-up:before { content: "\f013"; }

.icon-arrow-down:before { content: "\f014"; }

.icon-sigh:before { content: "\f015"; }

.icon-medical-kit:before { content: "\f017"; }

.icon-health:before { content: "\f025"; }

.icon-email:before { content: "\f040"; }

.icon-menu2:before { content: "\f021"; }

.icon-logo:before { content: "\f022"; }

.icon-camera:before { content: "\f024"; }

.icon-house:before { content: "\f026"; }

.icon-arrow-right:before { content: "\f027"; }

.icon-error:before { content: "\f028"; }

.icon-checkmark:before { content: "\f029"; }

.icon-dislike:before { content: "\f030"; }

.icon-like:before { content: "\f031"; }

.icon-loading:before { content: "\f032"; }

.icon-document-search:before { content: "\f033"; }

.icon-calendar:before { content: "\f034"; }

.icon-minus:before { content: "\f036"; }

.icon-sigh2:before { content: "\f037"; }

.icon-plus:before { content: "\f039"; }

.icon-qq:before { content: "\f041"; }

.icon-share1:before { content: "\f042"; }

.icon-person2:before { content: "\f043"; }

.icon-edit2:before { content: "\f044"; }

.icon-quadrilateral:before { content: "\f045"; }

.icon-square:before { content: "\f046"; }

.icon-iphone:before { content: "\f047"; }

.icon-download:before { content: "\f048"; }

.icon-ellipsis:before { content: "\f049"; }

.icon-store2:before { content: "\f050"; }

.icon-refresh:before { content: "\f051"; }

.icon-document-search2:before { content: "\f052"; }

.icon-back2:before { content: "\f053"; }

.icon-arrow-left2:before { content: "\f054"; }

.icon-del:before { content: "\f055"; }

.icon-add:before { content: "\e906"; }

.icon-wait:before { content: "\f057"; }

.icon-checkmark2:before { content: "\f058"; }

.icon-sigh3:before { content: "\f059"; }

.icon-error3:before { content: "\f060"; }

.icon-sigh4:before { content: "\f061"; }

.icon-info:before { content: "\f062"; }

.icon-checkmark3:before { content: "\f063"; }

.icon-error2:before { content: "\f064"; }

.icon-search2:before { content: "\f065"; }

.icon-triangle-up:before { content: "\f066"; }

.icon-arrow-right2:before { content: "\f067"; }

.icon-triangle-down:before { content: "\f068"; }

.icon-icon-house2:before { content: "\e60d"; }

.icon-gif:before { content: "\e60e"; }

.icon-kf:before { content: "\e611"; }

.icon-moer:before { content: "\e613"; }

.icon-pc:before { content: "\e614"; }

.icon-sad:before { content: "\e616"; }

.icon-yw:before { content: "\e617"; }

.icon-fl:before { content: "\e619"; }

.icon-phone1:before { content: "\e61a"; }

.icon-sy:before { content: "\e61b"; }

.icon-mine2:before { content: "\e61d"; }

.icon-zt:before { content: "\e61e"; }

.icon-hb:before { content: "\e61f"; }

.icon-dx:before { content: "\e620"; }

.icon-fxpc:before { content: "\e621"; }

.icon-mesdone:before { content: "\e622"; }

.icon-bdcx:before { content: "\e623"; }

.icon-cx:before { content: "\e60f"; }

.icon-jc:before { content: "\e610"; }

.icon-jk:before { content: "\e612"; }

.icon-lv:before { content: "\e615"; }

.icon-ty:before { content: "\e618"; }

.icon-rs:before { content: "\e61c"; }

.icon-more:before { content: "\e624"; }

.icon-yw1:before { content: "\e625"; }

.icon-yw1:before { content: "\e626"; }

.icon-mes:before { content: "\e627"; }

.icon-sz:before { content: "\e628"; }

.icon-alipay:before { content: "\e637"; }

.icon-bxcpk:before { content: "\e629"; }

.icon-jxcp:before { content: "\e62a"; }

.icon-phb:before { content: "\e62b"; }

.icon-qd:before { content: "\e62c"; }

.icon-qg:before { content: "\e62d"; }

.icon-tjbx:before { content: "\e62e"; }

.icon-wdjy:before { content: "\e62f"; }

.icon-wdzy:before { content: "\e630"; }

.icon-wfx:before { content: "\e631"; }

.icon-zy:before { content: "\e632"; }

.icon-ls:before { content: "\e633"; }

.icon-pyq:before { content: "\e634"; }

.icon-yqh:before { content: "\e635"; }

.icon-gx:before { content: "\e636"; }

.icon-zk:before { content: "\e647"; }

